@import "tailwindcss";

@theme {
  --color-red: #c42320;
  --color-red-10: #f9e9e9;

  --color-green: #6bac34;
  --color-green-10: #f0f7eb;

  --color-yellow: #feb914;
  --color-yellow-10: #fff8e7;

  --color-orange: #ff6d1a;
  --color-orange-10: #fff0e8;

  --color-teal: #018893;
  --color-teal-10: #e6f3f4;

  --color-blue: #0067a2;
  --color-blue-10: #e5f0f6;

  --color-light-blue: #00afd7;
  --color-light-blue-10: #e5f7fb;

  --color-white: #ffffff;
  --color-white-10: #ffffff10;

  --color-off-white: #fafafa;
  --color-light-gray: #ebebeb;
  --color-medium-light-gray: #bbbbbe;
  --color-medium-gray: #88888d;

  --color-black: #000000;
  --color-black-10: #00000065;
}
